.square {
    width: 100px;
    height: 100px;
    border: solid rgb(226, 10, 10);
    text-align: center;
}
.selecting {
    background-color: #03f740;
}
.inactive {
    background-color: rgb(211, 121, 196);
}